{# Héritage #}
{% extends 'base.html.twig' %}

{# parent() permet de récupérer ce que contient le bloc de la base #}
{% block title %} {{ parent() }} | Home {% endblock %}

{# surcharge du bloc body = écrase les données de base #}
{% block body %}
    <h1>Welcome to Series !</h1>
{%  endblock %}

