{% extends 'base.html.twig' %}
{#appliquer css spécifique pour ce formulaire#}
{% form_theme seasonForm 'view/formTheme/formTheme.html.twig'%}

{% block body %}
    <h2>Add new season</h2>

    {{  form_start(seasonForm) }}
    {{ form_widget(seasonForm) }}
    <button>Add a season</button>
    {{ form_end(seasonForm) }}
{% endblock %}